.living{


padding-left: 0%;
background-color: grey;
background-image: url(/images/livings.jpg);





}
.jael{
    display: inline-block;

}
.home{
    
    display: flex;
    justify-content: center;
    background-position: center;
    
}
.logo{
    text-align: center;
    text-decoration: peru;
    color: black;
    position: relative;
    top: -300px;
}
.search{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bt{
    background-color: blueviolet;
    align-items: center;
    display: block;


}
.bar{
   width: 20%;
   height: 10%;
    
}
.search ul li{
    list-style: none;
    display: inline-block;
    color: blue;
    position: relative;
    
}

.cate{
    text-decoration: peru;
    color: peru;
    float: left;
}
.rooms{
    display: inline-block;
    display: flex;
    background-color: rgb(245, 239, 239);
    padding-top: 3%;
    border-radius: 2%;
    
    
}
.explore{
    color: black;
    text-decoration: solid;color: black;
    font-size: large;
}
.line{
    width: 10%;
    float: left;
    border: solid;
    color: blue;
}
.chick{
margin-bottom: 10%;
padding: 0% 3%;
width: 20%;
height: 10%;
nav-right: 50%;
}
.chair{
margin-bottom: 10%;
padding: 0% 3%;
width: 20%;
height: 10%;
}
.ladder{
margin-bottom: 10%;
padding: 0% 3%;
width: 20%;
height: 10%;
}

.wooden{
    float: right;
    display: flex;
    background-color: rgb(4, 4, 26);
    padding-top: 5%;
    border-radius: 2%;
    
}
.meza{
    margin-bottom: 10%;
    padding: 0% 3%;
    width: 20%;
    height: 10%;
}
.wall{
    margin-bottom: 10%;
    padding: 0% 3%;
    width: 20%;
    height: 10%;
}
.stool{
    margin-bottom: 10%;
    padding: 0% 3%;
    width: 20%;
    height: 10%;
}
.design{
    font-size: larger;
    text-decoration:peru;
    font-style: oblique;
    color:peru;
    float: right;
}
.line{
    border: solid;
    color: blue;
}
.line2{
   color: brown; 
}
.one{
    text-decoration: aqua;
    font-style: oblique;
    color: aqua;
    display: flex;
}
.two{
    text-decoration: aqua;
    font-style: oblique;
    color: aqua;

}
.three{
    text-decoration: antiquewhite;
    font-style: oblique;
    color: aqua;
}
.inp{
    background-color: peru;
    float: left;
    width: fit-content;
    display: flex;
    padding-left:20%;
    justify-content: center;
    font-size: larger;
    margin-right: 20%;
    box-sizing: content-box;
    

}
.input{
    background-color: peru;
    box-sizing: content-box;
    float: left;
    margin-right: 20%;
    display: flex;
    padding-right:20%;
    text-align: center;
    justify-content: center;
    font-size: larger;

}
.flower{
    margin: auto;
    padding: 0% 3%;
    width: 30%;
    height: 20%;
    position: relative;
    top: -300px;
}

.kisasa{
    background-color:pink;
    height: 1%;
}
.discover{
    background-color:pink;
    font-size: larger;
    text-decoration: underline;
    margin: auto;
    padding-top: 3%;

}
.mine{
    background-color: peru;
    margin-left: 3%;
    font-size: small;
}
.final{
    background-color: rgb(11, 11, 71);
    display: flex;
    text-decoration: white;
    color: white;
    padding-left: 20%;
}
.xx{
    font-size: larger;
    text-decoration: navy;
    color:rgb(4, 4, 49);
    float: right;
    font-style: normal;
    
}
.procedure{
    padding-bottom: 5%;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
}
.h{
    font-style: oblique;
    


}
.val{
    background-color: peru;
    padding-bottom: 5%;
    margin-bottom: 45%;

}.ruth{
    background-color:plum;
    text-align: center;
    display:inline-block;
    font-size: large;
    text-decoration: underline;
    border-radius: 50%;
    padding-top: 0% 3%;
    width: 350px;
    height: 370px;
    
}
 .my name{
    margin-bottom: 10%;
    padding: 0%; 
    width: 50%;
    height: 10%;
    background-size: cover;
 }  

