.living{
background-position: center;
height: 100%;
background-size: cover;
padding-left: 15%;
width: 500vh;
border-radius: 2%;
background-color: grey;

}
.home{
    
    display: flex;
    justify-content: center;
    background-position: center;
    
}
.search{
    color:aliceblue;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.bar{
    float: left;
    width: 3%;
    height: 1%;
}
.search ul li{
list-style: none;
display: inline-flex;
padding: 0% 3%;
margin-top: 10%;
font-size: larger;


}
.lists{
    display: inline-block;
    color:white;
    font-size: larger;
}
.head{
    text-decoration:peru;
    color: peru;
    align-items: center;
    

}
.logo{
    text-decoration: peru;
    color: peru;
    text-align: right;
    display: inline-block;

}

.cate{
    text-decoration: peru;
    color: peru;
    float: left;
}
.rooms{
    display: inline-block;
    display: flex;
    background-color: rgb(245, 239, 239);
    padding-top: 5%;
    border-radius: 2%;
    
    
}
.explore{
    color: black;
    text-decoration: solid;color: black;
    font-size: large;
}
.line{
    width: 10%;
    float: left;
}
.chick{
margin-bottom: 10%;
padding: 0% 3%;
width: 20%;
height: 10%;
nav-right: 50%;
}
.chair{
margin-bottom: 10%;
padding: 0% 3%;
width: 20%;
height: 10%;
}
.ladder{
margin-bottom: 10%;
padding: 0% 3%;
width: 20%;
height: 10%;
}

.wooden{
    float: right;
    display: flex;
    background-color: rgb(4, 4, 26);
    padding-top: 5%;
    border-radius: 2%;
    
}
.meza{
    margin-bottom: 10%;
    padding: 0% 3%;
    width: 20%;
    height: 10%;
}
.wall{
    margin-bottom: 10%;
    padding: 0% 3%;
    width: 20%;
    height: 10%;
}
.stool{
    margin-bottom: 10%;
    padding: 0% 3%;
    width: 20%;
    height: 10%;
}
.design{
    font-size: larger;
    text-decoration:peru;
    font-style: oblique;
    color:peru;
    float: right;
}
.line2{
   color: brown; 
}
.one{
    text-decoration: aqua;
    font-style: oblique;
    color: aqua;
}
.two{
    text-decoration: aqua;
    font-style: oblique;
    color: aqua;

}
.three{
    text-decoration: antiquewhite;
    font-style: oblique;
    color: aqua;
}
.inp{
    background-color: peru;
    float: left;
}
.input{
    background-color: peru;
    box-sizing: content-box;
    width: 7%;
    height: 5%;
    float: left;
}
.flower{
    width: 25%;
    height: 10%;
    padding-right: 35%;
    align-items: flex-start;
    
    

    
}
.kisasa{
    background-color: pink;
    height: 1%;
}
.discover{
    background-color:rgb(240, 210, 215);
    font-size: larger;
    text-decoration: underline;
    text-decoration: grey;
    border-radius: 2%;
    
    
    
    

    
    
}
.mine{
    background-color: peru;
    margin-left: 3%;
    font-size: small;
}
.final{
    background-color: rgb(11, 11, 71);
    display: flex;
    text-decoration: white;
    color: white;
    border-radius: 2%;
}
.xx{
    font-size: larger;
    text-decoration: navy;
    color:rgb(4, 4, 49);
    float: right;
    font-style: normal;
    
}
.procedure{
    padding-bottom: 5%;
    background-color: whitesmoke;
}
.h{
    font-style: oblique;
}
.val{
    background-color: peru;
    padding-bottom: 5%;
    border-radius: 2%;

}.ruth{
    border-radius: 50%;
    background-color:pink;
    width: 200px;
    height: 200px;
    align-items: flex-start;
    text-align: center;
    display:inline-block;
    font-size: smaller;
    text-decoration: underline;
    
}
